apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: 541320879609.dkr.ecr.ap-northeast-1.amazonaws.com/cicd:15-af562d4122836469671cb6cfeb132c978528407b
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: ENV
              value: dev
            - name: LOG_LEVEL
              value: DEBUG
            - name: FEATURE_FLAG
              value: "true"
            - name: IMAGE_TAG
              value: PLACEHOLDER_IMAGE
