apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: 541320879609.dkr.ecr.ap-northeast-1.amazonaws.com/cicd@sha256:7231c3e977b2e0c4b2e47a056a348f9354d05c4574ec8ea09c83ae386fb1e674
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1"
          env:
            - name: ENV
              value: uat
            - name: LOG_LEVEL
              value: INFO
            - name: FEATURE_FLAG
              value: "false"
            - name: IMAGE_TAG
              value: PLACEHOLDER_IMAGE
